SewerAIProjects_runtime_fix.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:soa="http://www.oracle.com/soa/rest"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:req="http://TargetNamespace.com/SewerAIProjects_putProjects_request"
             xmlns:tns="http://xmlns.oracle.com/Ivara12c/IvaraToSewerAI/SewerAIProjects"
             xmlns:cns="http://TargetNamespace.com/SewerAIProjects_putProjects_request">
  <doc title="SewerAIProjects">RestReference</doc>
  <grammars>
    <xsd:schema>
      <xsd:import namespace="http://TargetNamespace.com/SewerAIProjects_putProjects_request"
                  schemaLocation="../Schemas/SewerAIProjects.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://xmlns.oracle.com/Ivara12c/IvaraToSewerAI/SewerAIProjects"
                elementFormDefault="qualified">
      <xsd:element name="empty"/>
      <xsd:element name="jsonText" type="xsd:string"/>
    </xsd:schema>
  </grammars>
  <resources>
    <resource path="/projects/">
      <method name="PUT" soa:wsdlOperation="putProjects">
        <request>
          <representation mediaType="application/json" element="cns:ProjectCreateRequest"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="tns:jsonText"/>
        </response>
        <response status="201">
          <representation mediaType="application/json" element="tns:jsonText"/>
        </response>
        <response status="204"/>
        <response status="400"/>
        <response status="401"/>
        <response status="403"/>
        <response status="404"/>
        <response status="409"/>
        <response status="422"/>
        <response status="500"/>
      </method>
    </resource>
  </resources>
</application>
